:root,
html,
body {
  background-color: #141414 !important;
}

body {
  color: #ffffff;
  width: 100%;
  height: 100%;
}

.movie-app > .row {
  justify-content: flex-start;
}

.image-container {
  position: relative;
  transition: transform 0.2s;
  width: 200px;
  height: 320px;
  display: flex;
  flex-direction: column;
  padding: 0;
  align-items: center;
  border-radius: 8px;

  .overlay {
    position: absolute;
    font-weight: bold;
    width: 171px;
    transition: 0.5s ease;
    opacity: 0;
    top: 243px;
    font-size: 12px;
    text-align: center;
    padding: 5px 0;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border: solid 0.2px rgba(255, 255, 255, 0.4);
    border-top: 0;

    &.add {
      background: rgba(25, 92, 4, 0.9);
    }

    &.remove {
      background: rgba(255, 0, 0, 0.8);
    }

    svg {
      color: white;
      fill: white;
    }
  }

  &:hover {
    cursor: pointer;
    transform: scale(1.1);

    .overlay {
      opacity: 1;
    }
  }

  .image-container-inner {
    position: relative;
    margin-top: 10px;

    img {
      height: 262px;
      width: 173px;
      border: solid 1px rgba(255, 255, 255, 0.4);
      border-radius: 8px;
    }
  }

  .movieTitle {
    overflow: hidden;
    font-size: 11px;
    text-align: center;
    padding: 5px;
    position: relative;
    margin-top: 10px;
  }
}
